@import '../../styles/variables.scss';

.card {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        border-color: $secondary-color;
        cursor: pointer;
    }
}
